# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
default:
  image: maven:latest
variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
cache:
  paths:
  - target/
stages:
- compile
- test
- badges
- sonarqube
- deploy
- docker
compile:
  stage: compile
  script:
  - mvn $MAVEN_CLI_OPTS compile
test:
  stage: test
  needs:
  - compile
  script:
  - mvn $MAVEN_CLI_OPTS test
  - cat report-aggregate/target/site/jacoco-aggregate/index.html | grep -o 'Total[^%]*%'
    | sed 's/<.*>/ /; s/Total/Jacoco Coverage Total:/'
  coverage: "/Total.*?([0-9]{1,3})%/"
  artifacts:
    when: always
    reports:
      junit:
      - Engine/target/surefire-reports/*.xml
      - Spigot/target/surefire-reports/*.xml
sonarqube:
  stage: sonarqube
  needs:
  - compile
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: '0'
  cache:
    key: "${CI_JOB_NAME}"
    paths:
    - ".sonar/cache"
  script:
  - mvn $MAVEN_CLI_OPTS verify sonar:sonar
  - cat report-aggregate/target/site/jacoco-aggregate/index.html | grep -o 'Total[^%]*%'
    | sed 's/<.*>/ /; s/Total/Jacoco Coverage Total:/'
  coverage: "/Total.*?([0-9]{1,3})%/"
  allow_failure: false
  only:
  - master
Create Badge:
  stage: badges
  needs: []
  image: alpine
  script:
  - apk update
  - apk add python3
  - apk add py3-pip
  - apk add maven
  - apk add libxml2-utils
  - apk add curl
  - apk add tar
  - rm -Rf badges
  - mkdir badges
  - cd badges
  - pip install anybadge
  - curl -k --header "PRIVATE-TOKEN:$GITLAB_SECRET_TOKEN" https://git.plugin-lab.com/api/v4/projects/63/repository/archive\?sha\=${CI_COMMIT_SHA}
    -o files.tar.gz
  - tar -xf files.tar.gz
  - rm files.tar.gz
  - cd translationprovider-$CI_COMMIT_SHA-$CI_COMMIT_SHA
  - ls
  - latest_version=$(xmllint --xpath '/*[local-name()="project"]/*[local-name()="version"]/text()'
    pom.xml)
  - cd ..
  - rm -rf translationprovider-$CI_COMMIT_SHA-$CI_COMMIT_SHA
  - anybadge -l "version" -v $latest_version -f latestVersion.svg --color=#0d7ebe
  artifacts:
    paths:
    - badges/
    when: always
  only:
    - master
deploy:
  stage: deploy
  needs:
  - test
  - sonarqube
  script:
  - mvn $MAVEN_CLI_OPTS deploy -DskipTests
  only:
  - master
docker:
  stage: docker
  trigger:
    project: tuxcraft/tuxcraft-hub-docker-image
    branch: master
  only:
  - master
#include:
#- template: Security/Dependency-Scanning.gitlab-ci.yml
